p { font-size: x-large;

}
h1 {
    background-color: black; color: aquamarine;
}
.professor{
    color: black; text-align: center;
}
#curso { 
    text-align:center;
}
img {
    width: 400px;
    height: 400px;
}
.title{
    text-align: center;
}
.pipi{
    background-color: blueviolet;
    font-size: xx-large;
    text-align: center;
}