p {

   font-size: 20px;
   text-align: center;

}

h1 {
   background-color: #AC2323;
   color: #403535;
}

.supernatural-img {
   width: 250px;
   height: 250px;

}

.title {
   text-align: center;
}


h1 {
   text-align: center;
}

body {
   background-color: #ded261;
}

.dark {
   width: 250px;
   height: 250px;
}

.the {
   width: 250px;
   height: 250px;
}

.elite {
   width: 250px;
   height: 250px;
}

.euphoria {
   width: 250px;
   height: 250px;
}


table td,
table th {
   /*border: 30px solid;*/
   background-color: rgb(108, 17, 17);
   padding: 10px;
   background-color: #ded261;
   border-right: 2px solid;
}

.texto-do-filme { 
   background-color: #ded261;
   padding: 30px solid;
}

.texto1 {
   color: #80B141;
}